* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea {
  height: auto;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.spinner {
  margin: 0;
}

.spinner.spinner-lg {
  font-size: 150px;
}

.code-box {
  display: inline-block;
  padding: 15px;
  text-align: left;
}

.input-box {
  display: inline-block;
  padding: 15px;
  text-align: left;
}

.card-docs-description-url {
  display: block;
  padding: 5px 15px;
  max-width: 350px;
}

.fields {
  margin-bottom: 40px;
}

div.card-docs-description.field {
  display: block;
  margin-bottom: 15px;
  text-align: center;
}

.field__key {
  display: block;
  margin-bottom: 5px;
}

.field__value {
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 10px;
}

.avatar {
  height: 100%;
}

.form-control {
  max-width: 350px;
}
